

body {
    margin: 0;
    padding: 0;
	
}

.main_title  {
    color: white;
    text-align: center;
    position: absolute;
    left: 125px;
    bottom: 35%;
}

.description {
    color: white; 
    text-align: center;
    position: absolute;
    left: 125px;
    bottom: 12%;
}

.grey_box {
    background-color: #494949;
    position: relative;
    height: 130px;
    padding: 5px;
}

.logo {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 25px;
    left: 10px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
    color: white;

}

.navbar_links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar_links li {
    list-style: none;
}

.navbar_links li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

.navbar_links li:hover {
    background-color: #111111;
}

.toggle {
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle {
        display: flex;
    }
    
    .navbar_links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar_links li {
        text-align: center;
    }

    .navbar_links li a {
        padding: 7px 0;
    }

    .navbar_links.active {
        display: flex;
    }
}

.slider {
    width: 900px;
    position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
    padding: 0;
}


.images img {
    position: absolute;
    padding: 0;
    left: 160px;
    top: 85px;
    width: 600px;
    height: 500px;
    object-fit: contain;
}

.slider_prev, .slider_next {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 35px;
    border-radius: 10px;
    user-select: none;
  }

.slider_next {
    right: 70px;
    top: 300px;
}

.slider_prev {
    top: 300px;
	left: 85px;
}

.slider_next:hover, .slider_prev:hover {
    background-color: #4B4B4B;
      
}

.text1 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 580px;
    left: 210px;
    text-align: center;
  }

  .text2 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 580px;
    left: 320px;
    text-align: center;
  }

  .text3 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 555px;
    left: 230px;
    text-align: center;
  }

  .text4 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 580px;
    left: 300px;
    text-align: center;
  }

  .text5 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 585px;
    left: 315px;
    text-align: center;
  }

  .text6 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 565px;
    left: 290px;
    text-align: center;
  }

  .text7 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 590px;
    left: 355px;
    text-align: center;
  }

  .text8 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 545px;
    left: 245px;
    text-align: center;
  }

  .text9 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 505px;
    left: 260px;
    text-align: center;
  }

  .text10 {
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 510px;
    left: 275px;
    text-align: center;
  }

  .slider_heading {
    color: white;
    font-size: 30px;
    text-align: center;
    display: block;
    padding:0;
    margin: 0;
    position: absolute;
    left: 320px;
    top: 25px;
  }

  @media(max-width: 600px) {

    .slider {
        max-width: 500px;
        position: relative;
	    margin-left: auto;
	    margin-right: auto;
    }

    .slider_prev, .slider_next {
        font-size: 20px;
    }

    .images img {
        position: absolute;
        padding: 0;
        width: 300px;
        height: 250px;
        left: 100px;
        top: 70px;

    }

    .slider_prev {
        top: 180px;
        left: 40px;
    }

    .slider_next {
        top: 180px;
        right: 42px;
    }

    .text1 {
        font-size: 15px;
        position: absolute;
        top: 320px;
        left: 80px;

    }

    .text2 {
        font-size: 15px;
        position: absolute;
        top: 320px;
        left: 150px;
    }

    .text3 {
        font-size: 15px;
        position: absolute;
        top: 305px;
        left: 90px;

    }

    .text4 {
        font-size: 15px;
        position: absolute;
        top: 320px;
        left: 140px;
        
    }

    .text5{
        font-size: 15px;
        position: absolute;
        top: 320px;
        left: 150px;
        
    }

    .text6 {
        font-size: 15px;
        position: absolute;
        top: 310px;
        left: 120px;
        
    }

    .text7 {
        font-size: 15px;
        position: absolute;
        top: 320px;
        left: 172px;
        
    }

    .text8 {
        font-size: 15px;
        position: absolute;
        top: 300px;
        left: 95px;
        
    }

    .text9 {
        font-size: 15px;
        position: absolute;
        top: 280px;
        left: 100px;
        
    }

    .text10 {
        font-size: 15px;
        position: absolute;
        top: 285px;
        left: 110px;
        
    }

    .slider_heading {
        font-size: 21px;
        left: 155px;
        top: 30px;
    }

  }

  .label_text {
    color: white;
  }

  .contact_us {
    width: 590px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_us p {
    color: white;
    padding: 5px 20px;
    display: inline-block;
  }

.form {
    text-align: center;
    display: inline-block; 
    position: relative;
    left: 32%;
    padding: 50px 30px;
    background-color: #1E1E1E;
    margin-top: 50px ;
    margin-bottom: 40px;
    border-radius: 20px;
}

.text_box {
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.question_box {
    border-radius: 8px;
    margin: 25px 0 10px 0;
}

.form_heading {
    color: white;
}

.submit {
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 7px;
}

.submit:hover {
    background-color: #9f9e9e;
}

@media(max-width: 600px) {
    .form {
        width: 50%;
        left: 92px;
    }

    .contact_us {
        width: 47%;
    }

    .contact_us p {
        text-align: center;
        padding: 0;
    }
}

.about_paragraph {
    max-width: 500px;
}

.about_paragraph p {
    color: white;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 20px;
    font-size: 18px;
}

.carter_angelo {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.carter_angelo img {
        width: 400px;
        height: 275px;
   
}

.carter_angelo p {
    color: white;
    font-size: 17px;
}

.carter_pic {
    position: absolute;
    object-fit: contain;
    display: block;
    bottom: 1px;
    left: 280px;
}

.carter_picture {
    position: absolute;
    bottom: 1px;
    left: 410px;
    margin: 0;
}

.gallery_pic {
    position: absolute;
    object-fit: contain;
    display: block;
    top: 40px;
    left: 282px;
}

.inside_gallery {
    width: max-content;
    position: absolute;
    left: 400px;
    top: 300px;
    margin: 0;
    padding-bottom: 10px;
}

.map {
    display: block;
    position: absolute;
    top: 500px;
    left: 32px;
    padding-bottom: 35px;
}

.exhibit_heading {
    color: white;
    font-size: 30px;
    text-align: center;
}

.exhibit_img {
    position: relative;
}

.exhibit_img img {
    width: 550px;
    height: 370px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.exhibit_info {
    color: white;
    font-size: 18px;
    width: 50%;
    position: absolute;
    left: 600px;
    bottom: 200px;
}

.exhibit_info a {
    color: #656565;
    background-color: transparent;
    text-decoration: none;

}

.exhibit_info a:hover {
    color: #c2c2c2;
    background-color: transparent;
    text-decoration: underline;

}

.links {
    color: white;
    font-size: 18px;
    position: absolute;
    left: 600px;
    bottom: 130px;
}

.links_ul {
    position: absolute;
    left: 572px;
    bottom: 55px;

}

.links_ul a {
    font-size: 18px;
    text-decoration: none;
    color: #656565;
}

li {
    color: white;
}

.links_ul a:hover {
    color: #c2c2c2;
    text-decoration: underline;
}

.img1_div {
    position: relative;
}

.img2_div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.img3_div {
    position: relative;
}

.img4_div {
    position: relative;
}

.img5_div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.img6_div {
    position: relative;
}

.img7_div {
    position: relative;
}

.img8_div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.img9_div {
    position: relative;
}

.img1_img {
    width: 300px;
    height: 275px;
    position: absolute;
    top: 50px;
    left: 30px
}

.img2_img {
    width: 300px;
    height: 275px;
    padding-top: 50px;
}

.img3_img {
    width: 300px;
    height: 275px;
    position: absolute;
    left: 930px;
    bottom: 70px;
}

.img4_img {
    width: 300px;
    height: 275px;
    position: absolute;
    left: 30px;
    top: 55px;
}

.img5_img {
    width: 300px;
    height: 275px;
    padding-top: 50px;
}

.img6_img {
    width: 300px;
    height: 275px;
    position: absolute;
    left: 930px;
    bottom: 53px;

}

.img7_img {
    width: 300px;
    height: 275px;
    position: absolute;
    left: 30px;
    top: 37px;
}

.img8_img {
    width: 300px;
    height: 275px;
    padding-top: 35px;
}

.img9_img {
    width: 300px;
    height: 275px;
    position: absolute;
    left: 930px;
    bottom: 52px;
}

.img1_p {
    color: white;
    position: absolute;
    width: 270px;
    text-align: center;
    left: 40px;
    top: 330px;
}

.img2_p {
    color: white;
    text-align: center;
}

.img3_p {
    color: white;
    position: absolute;
    left: 960px;
    bottom: 18px;
}

.img4_p {
    color: white;
    position: absolute;
    left: 57px;
    top: 330px;
    
}

.img5_p {
    color: white;
    text-align: center;
}

.img6_p {
    color: white;
    position: absolute;
    left: 960px;
    bottom: 3px;
}

.img7_p {
    color: white;
    position: absolute;
    width: 270px;
    text-align: center;
    left: 40px;
    top: 313px;
    padding-bottom: 50px;

}

.img8_p {
    color: white;
    text-align: center;
}

.img9_p {
    color: white;
    position: absolute;
    left: 940px;
    bottom: 0.5px;
}


.grid_name1, .grid_name2, .grid_name3, .grid_name4, 
.grid_name5, .grid_name6, .grid_name7, .grid_name8,
.grid_name9, .grid_name10, .grid_name11, .grid_name12 {
    color: white;
}

.grid_price1, .grid_price2, .grid_price3, .grid_price4,
.grid_price5, .grid_price6, .grid_price7, .grid_price8,
.grid_price9, .grid_price10, .grid_price11, .grid_price12 {
    color: white;
}

.grid_button1, .grid_button2, .grid_button3, .grid_button4,
.grid_button5, .grid_button6, .grid_button7, .grid_button8,
.grid_button9, .grid_button10, .grid_button11, .grid_button12 {
    cursor: pointer;
    background-color: #4B4B4B;
    color: white;
    border-radius: 6px;
}

.grid_button1:hover, .grid_button2:hover, .grid_button3:hover, .grid_button4:hover,
.grid_button5:hover, .grid_button6:hover, .grid_button7:hover, .grid_button8:hover,
.grid_button9:hover, .grid_button10:hover, .grid_button11:hover, .grid_button12:hover {
    background-color: #1E1E1E;
}

.grid_img1, .grid_img2, .grid_img3, .grid_img4,
.grid_img5, .grid_img6, .grid_img7, .grid_img8,
.grid_img9, .grid_img10, .grid_img11, .grid_img12 {
    width: 300px;
    height: 275px;
}

.shop_grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 275px);
    grid-row-gap: 205px;
    grid-column-gap: 140px;
    padding-top: 50px;
    padding-left: 35px;
    padding-bottom: 150px;
}

.videos_h2 {
    color: white;
    text-align: center;
    position: relative;
    top: 700px;
}

.video1, .video2, .video3, .video4 {
    width: 500px;
    height: 281px;
}

.videos {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, 281px);
    grid-row-gap: 100px;
    grid-column-gap: 140px;
    justify-content: center;
    padding-bottom: 50px;
    position: relative;
    top: 740px;
}

.videos_line {
    position: relative;
    top: 680px;
}